@import url(https://fonts.google.com/specimen/Overpass);
//The designs were created to the following widths:
$Mobile: 375px;
$Desktop: 1440px;


//Colors

//Primary

$Orange: hsl(25, 97%, 53%);

//Neutral

$White: hsl(0, 0%, 100%);
$Light_Grey: hsl(217, 12%, 63%);
$Medium_Grey: hsl(216, 12%, 54%);
$Dark_Blue: hsl(213, 19%, 18%);
$Very_Dark_Blue: hsl(216, 12%, 8%);
$btn_Grey: hsl(213, 16%, 25%);

//Typography


//Body Copy

$paragraph: 15px;


$LWeights: 400;
$BWeights: 700;
