
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');



:root{
    --drightRed : hsl(12, 88%, 59%);
    --darkBlue: hsl(228, 39%, 23%);
    --darkGrayishBlue: hsl(227, 12%, 61%);
    --veryDarkBlue: hsl(233, 12%, 13%);
    --veryPaleRed: hsl(13, 100%, 96%);
    --varyLightGray: hsl(0, 0%, 98%);
    --Fontsize: 16px;
    --desktop-width: 1440px;
    --mobile-width: 375px;
    --padding: 0.75rem;
    --margin: 0.75rem;
    --box-shadow: 0 1px rgba(0,0,0,0.1);
    }
    


*, 
*::before,
*::after{
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


html{
    font-size: 10;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
   font-family:  'Be Vietnam Pro', sans-serif;

}

h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.5;
    font-family:  'Be Vietnam Pro', sans-serif;
}

h2{
    font-size: 1rem;
    font-family:  'Be Vietnam Pro', sans-serif;
}

h4{
    font-size: .9rem;
    font-family:  'Be Vietnam Pro', sans-serif;
}

p{
    font-size: 1.125rem;
    font-family:  'Be Vietnam Pro', sans-serif;
}

a{
    font-family:  'Be Vietnam Pro', sans-serif;
}

.container{
    max-width: var(--desktop-width);
    margin: 0 auto;
}


/* global variable */

.row{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    padding-top: 50px;
}

.content{
    padding: 0 3rem;
}


/*navbar*/


.overlay{
    display: none;
    background: var(--veryDarkBlue);
    background-image: linear-gradient(var(--veryPaleRed), transparent);
    position: fixed;
    top: 7.5rem;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes fade-in{

from{
    display: none;
    opacity: 0;
}
1%{
    display: block;
    opacity: 0;
}
to{
    display: block;
    opacity: 1;
}

}



nav a{
    padding: 0 1rem;
    font-size: 1.125rem;
    color: var(--veryDarkBlue);
    transition: color .5s ease-in-out;
}

nav a:hover{
    color: var(--drightRed);
}

.logo{
    align-items: center;
    width: 20%;
    padding-top: 1rem;
}

nav{
    display: flex;
    padding: 1rem 3rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: var(--box-shadow);
    align-items: center;
    z-index: 1000;
    position: relative;
}

.navbar a{
    display: inline-block;
}

.mobile-nav{
    background: #fff;
    padding: 1.645rem;
    text-align: center;
    margin:3rem 8rem;
    display: none;
}

.mobile-nav a{
    display: block;
    color: var(--veryDarkBlue);
    padding: 0.625rem;
}



header .btn{
    padding: .82rem 3%;
    border-radius: 20px;
    color: #fff;
    background: var(--drightRed);
    cursor: pointer;
    opacity: 1;
}

header .btn:hover{
    color: #fff;
    opacity: 0.65;
}

.burger{
    width: 4%;
    display: none;
}

/* content */
 
.mockup{
    height: 43rem;
    position: relative;
    background-image: url("../images/illustration-intro.svg");
    order: 2;
    flex: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: center center;
    width: 100%;
}


.backgroundlayout{
position: absolute;
top: -300px;
left: 70px;
z-index: -2;
width: 130%;
}
*/

.hero{
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    line-height: 1.5;
    margin-bottom: 5rem;
    position: relative;
    justify-content: center;
}


.hero p{
    width: 80%;
    padding-right: 30px;
    line-height: 1.5;
    padding-top: 30px;
    color: gray;
    padding-top: 0px;
}

/* second card layout */

.card-1,
.card-container{
    padding: 0 0rem;
    flex-basis: 50%;
   
}

div .card-1{
    display: flex;
    align-items: flex-start;
    margin-top: 4rem;
}


.card-item{
    width: 80%;
}

.card-item h2{
    font-size: 2rem;
    margin: 0;
}

.card-item p{
    width: 80%;
    margin: 0;
}


.card-1 p,
.card1 p{
color: gray;
line-height: 1.5;
}

.card-1 h2 {
    padding-bottom: 2rem;
}

.card1 h4{
padding-bottom: .5rem;
}

.card1{
    padding: 3rem 0;
    display: flex;
    position: relative;
    width: 70%;
}


.my .number{
    width: 10%;
    border-radius: 20px;
    padding: .8rem 1.8rem;
    background: var(--drightRed);
    color: white;
    font-size: .5rem;
   display: flex;
   justify-content: center;
   position: absolute;
   left: -80px;
   top: 60px;
}


/* third card section */
.third{
    padding: 10rem 0;
    margin: 12rem 0;
}

.card img{
    background-size: cover;
    width: 20%;
}

.col{
    flex-basis: 100%;
   padding: 2rem 2rem;
}

.col:nth-child(1){
    padding-left: 0px ;
}

.col:nth-child(4){
    padding-right: 0px ;
}

.card{
    text-align: center;
}

.card h5{
    font-size: 1.1rem;
    padding: 1.5rem;
}

.card p{
    font-size: 1.1rem;
    color: gray;
}

.one{
    display: none;
}

.third h2{
    text-align: center;
}


.btn-btn{
    padding: 1.5rem 2rem;
    background: var(--drightRed);
    border-radius: 20px;
    color: #fff;
}

.btn{
    padding: 4rem 0;
    text-align: center;
}

/* end of third container */




/* fourth container and footer */
.thethird{

    background: var(--drightRed);

}


.last {
    width: 100%; 
}

.last-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 8rem 0;
  
}

.last-text{
    width: 40%;
    color: #fff;
}

.last-container .btn-footer{
    padding: 1.5rem 2.8rem;
    background: #fff;
    border-radius: 20px;
    color: var(--drightRed);
}

/* end of last container */

/* footer container */

footer{
    background: var(--veryDarkBlue);
    padding: 3rem 0;
}


.footer{
    flex-basis: 30%;
    width: 100%;
}

.all_logos{
    display: flex;
    color: #fff;
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.logo-white{
    width: 70%;
    display: flex;
   
}

.logos{
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
}



.logos img{
    padding: 0 .7rem;
    width: 25%;
}

.logos img:hover{
    color: var(--drightRed);
}

.logos img:nth-child(1){
    padding-left: 0px;
}

.logos img:nth-child(5){
    padding-right: 0px;
}

.footlinks{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
}

.nav-footer li{
    justify-content: center;
    padding: 1rem 0; 
}

input[type]{
    margin: 0 1rem 7rem 0;
    padding: 1rem 0;
    border-radius: 20px;
}

input::placeholder{
    font-size: 1rem;
    padding-left: 1.5rem;
}

.footer-btn{
    padding: 1rem 1.5rem;
    background: var(--drightRed);
    border-radius: 20px;
    color: #fff;
}

.copywrite{
    color: #fff;
    padding-left: 1rem ;
 
}



@media (max-width: 1280px){
    
}








@media (max-width: 769px) {
   


    .container{
        margin: 0 auto;
        min-width: var(--mobile-width);
    }
    /* base */
   
    .navbar a{
        display: none;
    }

    .btn{
        display: none;
    }

    .burger{
        display: block;
    }
    
    .mobile-nav{
        display: block;
    }

.showlinks{
    display: block;
}

    /* header / navbar */






    
.backgroundlayout{
    position: absolute;
    top: -1350px;
    left: 80px;
    z-index: -2;
    width: 130%;
    }

    
    .hero{
       display: flex;
       align-items: center;
       justify-content: center;
    }
    
    .hero-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        line-height: 1.5;
        margin-bottom: 5rem;
    }
    
    
    .hero p{
        width: 80%;
        padding-right: 30px;
        line-height: 1.5;
        padding-top: 30px;
        color: gray;
        padding-top: 0px;
    }
    









    /* contents */
.row{
    flex-direction: column;
}



}
